$border-radius: 5px;

.wrapper {
}

.md {
  & .root {
    font-size: 0.875rem;
  }
}

.sm {
  & .root,
  & .listbox {
    font-size: 0.75rem;
  }
}

.root {
  position: relative;
  font-size: 0.875rem;
  box-sizing: border-box;
  min-width: 125px;
  padding: 0.5em 0.575em;
  border-radius: $border-radius;
  text-align: left;
  line-height: 1.5;
  background: get-color('foreground', 0.0475);
  border: 1px solid get-color('accent');
  color: get-color('foreground');
  // box-shadow: 0px 2px 4px ${
  //   isDarkMode ? 'rgba(0,0,0, 0.5)' : 'rgba(0,0,0, 0.05)'
  // };
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 120ms;

  &:hover {
    cursor: pointer;
  }
}

.listbox {
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 0px;
  margin: 0.25rem 0;
  min-width: 125px;
  border-radius: $border-radius;
  overflow: auto;
  outline: 0px;
  background: get-color('gray-6');
  border: 1px solid get-color('accent');
  color: get-color('foreground');
  // box-shadow: 0px 4px 6px ${
  //   isDarkMode ? 'rgba(0,0,0, 0.50)' : 'rgba(0,0,0, 0.05)'
  // };

  .placement-top & {
    transform-origin: bottom;
  }

  .placement-bottom & {
    transform-origin: top;
  }
}

.popup {
  z-index: 9999;
}

.option {
  list-style: none;
  padding: 8px;
  cursor: default;

  &:last-of-type {
    border-bottom: none;
  }

  // selected item
  &:global(.base--selected) {
    color: get-color('foreground');
    background-color: get-color('foreground', 0.075);
  }

  // hoverd item
  &:hover {
    cursor: pointer;
    background-color: get-color('foreground', 0.15);
  }
}
