$border-color--hover: get-color('border');
$fill-color: get-color('foreground');

.iconButton {
  background-color: transparent;
  padding: 0.175rem;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  transition: opacity 80ms ease-in-out;

  & > svg {
    fill: $fill-color;
    transition: filter 80ms ease-in-out;
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: unset;

      & > svg {
        filter: none;
      }
    }
  }

  &:hover {
    cursor: pointer;
    border-color: $border-color--hover;

    & > svg {
      filter: drop-shadow(0px 0px 5px get-color('foreground', 0.5));
    }
  }
}
