@keyframes caretAnim {
  0% {
    // scale: 1;
    opacity: 1;
  }
  100% {
    // scale: 0.8;
    opacity: 0;
  }
}

.cm-editor {
  height: calc(100vh - $header-height);
  position: relative;
  color: get-color('foreground');
  background-color: transparent;

  & .cm-line {
    color: get-color('foreground');
  }

  & .cm-selectionBackground {
    background-color: transparent !important;
    color: get-color('foreground');
  }

  & .cm-selectionMatch {
    background-color: get-color('blue', 0.275);
  }

  &.cm-focused {
    // caret styling
    & .cm-cursor {
      border-left-color: get-color('foreground');
    }

    & ::selection {
      background-color: get-color('foreground', 0.15) !important;
    }
  }

  & .cm-activeLine {
    background-color: get-color('foreground', 0.05);
  }

  & .cm-gutters {
    background-color: get-color('foreground', 0.05);
    border-right: 2px solid get-color('border');
  }

  & .cm-activeLineGutter {
    background-color: get-color('foreground', 0.05);
    color: get-color('foreground', 1) !important;
  }

  & .cm-gutterElement {
    color: get-color('foreground', 0.5);
  }

  & .cm-panels-top {
    position: fixed !important;
    display: flex;
    flex-direction: row-reverse;
    top: $header-height !important;
    background-color: transparent;
    border-bottom: none;
    z-index: 4;
    color: get-color('foreground');
  }

  & .cm-panels-bottom {
    background-color: get-color('background');
    color: get-color('foreground');
    border-top: 2px solid get-color('border');
  }

  &.cm-focused {
    outline: none;
  }
}
