.fileItem {
  padding: 0.375rem;
  font-family: 'JetBrains Mono Variable';
  font-size: 0.875rem;
  overflow: hidden;
  color: get-color('fileitem-foreground');

  &.activeFile {
    background-color: get-color('fileitem-background', .875) !important;
  }

  &:hover {
    cursor: pointer;
    background-color: get-color('fileitem-background', 0.5);
  }
}

.fileContextMenu {
  --contexify-zIndex: 999999;
  --contexify-menu-radius: 0;
  --contexify-activeItem-radius: 0;
  --contexify-menu-padding: 0;
  --contexify-menu-shadow: none;
  font-size: 0.875rem;

  border: 2px solid get-color('border');

  & * {
    z-index: 9999 !important;
  }
}
