.fileItem {
  padding: 0.375rem;

  &.activeFile {
    background-color: get-color('gray-5');
  }

  &:hover {
    cursor: pointer;
    background-color: get-color('gray-5', 0.75);
  }
}

.fileContextMenu {
  box-shadow: none !important;
  z-index: 9999 !important;
  border-radius: 0 !important;
  padding: none !important;
  border: 2px solid get-color('accent');

  & * {
    z-index: 9999 !important;
  }
}
