.root {
  &:global(.base--focused) {
    & input {
      &:focus {
        outline: none;
      }
    }
  }

  &:global(.base--error) {
    & input {
      border-color: get-color('red');
      background-color: get-color('red', 0.375);
    }
  }
}

.input {
  background-color: get-color('input-background', 0.375);
  padding: 0.325rem 0.5rem;
  border: 1px solid get-color('input-border');
  color: get-color('input-foreground');
  font-size: 0.75rem;
}
