.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid get-color('input-border');
  color: get-color('input-foreground');
  background-color: get-color('input-background', 0.375);

  &:global(.base--focused) {
    & input {
      &:focus {
        outline: none;
      }
    }
  }

  &:global(.base--error) {
    border-color: get-color('red');
    background-color: get-color('red', 0.375);
  }
}

.input {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border: none;
  outline: none;
  background-color: transparent;
}
