.renameInput {
  width: 100%;
  border-left: none;
  border-right: none;
  padding-left: 0.375rem;
  
  & input {
    width: 100%;
    font-size: 0.875rem;
    font-family: 'JetBrains Mono Variable';
  }
}
