.contextMenu {
  --contexify-zIndex: 999999;
  --contexify-menu-radius: 0px;
  --contexify-activeItem-radius: 0;
  --contexify-menu-padding: 0;
  --contexify-itemContent-padding: 0.275rem;
  --contexify-menu-shadow: 5px 5px 5px #{get-color('foreground', 0)};
  font-size: 0.875rem;

  border: 1px solid get-color('border');

  & * {
    z-index: 9999 !important;
  }
}
